# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.RouletteSimulator.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Pablo\RiderProjects\RouletteSimulator\.idea\.idea.RouletteSimulator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
